<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-4">

                <!-- Tabs -->
                <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="mdb-tab-login" data-mdb-toggle="pill" href="#pills-login"
                            role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="mdb-tab-register" data-mdb-toggle="pill" href="#pills-register"
                            role="tab" aria-controls="pills-register" aria-selected="false" tabindex="-1">Register</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <!-- Login Tab -->
                    <div class="tab-pane fade active show" id="pills-login" role="tabpanel" aria-labelledby="mdb-tab-login">
                        <form id="loginForm">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text"  class="form-control" name="username" id="usernameLogin">
                                <label class="form-label" for="loginName" style="margin-left: 0px;">Username</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" class="form-control" name="password" id="passwordLogin">
                                <label class="form-label" for="loginPassword" style="margin-left: 0px;">Password</label>
                            </div>

                            <!-- Submit button -->
                            <button id="loginButton" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                        </form>
                    </div>

                    <!-- Register Tab -->
                    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="mdb-tab-register">
                        <form id="registerForm">
                            <!-- FirstName LastName -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" name="firstname" required id="firstname"/>
                                        <label class="form-label">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" name="lastname" required id="lastname"/>
                                        <label class="form-label">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Country City -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div>
                                        <label for="selectedCountry">Country</label>
                                        <select id="selectedCountry" class="form-select" name="country" required>
                                            <option disabled selected>Country</option>

                                            <% countryNames.forEach((country) => { %>
                                                <option value="<%= country %>">
                                                    <%= country %>
                                                </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <label for="selectedCity">City</label>
                                        <select id="selectedCity" class="form-select" name="city" required>
                                            <option disabled selected>City</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Address Email -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" name="address" required id="address"/>
                                        <label class="form-label">Address</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="email" class="form-control" name="email" required id="email"/>
                                        <label class="form-label">Email</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Username Password -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" name="username" required id="registerUsername"/>
                                        <label class="form-label">Username</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="password" class="form-control" name="password" required id="registerPassword"/>
                                        <label class="form-label">Password</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button id="registerButton" type="submit" class="btn btn-primary btn-block mb-1">Sign up</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>